.css-lpesjx-MuiPaper-root-MuiDrawer-paper{
    top: 65px !important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-1bdav0j{
    top: 65px !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #efefef !important;
}

.MuiTypography-root,
.MuiListSubheader-root,
.MuiChip-label {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}